<template name="about">
{{#markdown}}
## About me
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec orci eget odio interdum porttitor at a sem. Ut vehicula blandit tortor, at lacinia turpis condimentum quis. Quisque eget diam et eros commodo tristique. Integer eu nibh sed lacus lobortis pharetra vitae a ante. Proin condimentum ipsum non justo suscipit, non mollis libero vestibulum. Pellentesque enim turpis, imperdiet eget dapibus non, efficitur eget est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec orci eget odio interdum porttitor at a sem. Ut vehicula blandit tortor, at lacinia turpis condimentum quis. Quisque eget diam et eros commodo tristique. Integer eu nibh sed lacus lobortis pharetra vitae a ante. Proin condimentum ipsum non justo suscipit, non mollis libero vestibulum. Pellentesque enim turpis, imperdiet eget dapibus non, efficitur eget est.

Link to my facebook: [facebook.com][1]

[1]: http://facebook.com
{{/markdown}}
</template>
