<template name="about">
{{#markdown}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sodales rutrum mi at molestie. Donec nec diam nisi. Donec vel lobortis lacus. Maecenas eget auctor velit. Aenean iaculis varius lectus a facilisis. Maecenas pretium velit a sem porttitor, consequat ornare ligula malesuada. Etiam et leo at ex facilisis consequat. Etiam facilisis finibus ex, malesuada tincidunt leo cursus nec.

Link to my facebook: [facebook.com] [1]

[1]: http://facebook.com
{{/markdown}}
</template>
